<div class="home container-fluid text-center ">
	<!-- Welcome -->
	<div class="row">
		<header class="image-bg-fixed-height">
			<div class="col-md-2"></div>
			<div class="col-md-8 center-text-bg">
				<h1 class="white-text">We've Heard Your Call!</h1>
				<h2 class="white-text">We are a team passionate about education. Call or text to connect with a superstar mentor who can help.</h2>	
				<button class="btn btn-default btn-lg" type="submit">858-256-5412</button>							
			</div>
			<div class="col-md-2"></div>
		</header>
	</div>
	<!-- Details -->
	<div class="row section">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<h1>How It Works</h1>
			</div>
			<div class="col-md-2"></div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<img src="/assets/images/question.jpeg"/>
				<h4>Question</h4>
				<p>Ask any question about the college process.</p>
			</div>
			<div class="col-md-4">
				<img src="/assets/images/conversation.jpeg"/>
				<h4>Converse</h4>
				<p>Text or call to get advice from a knowledgeable college mentor.</p>
			</div>
			<div class="col-md-4">
				<img src="/assets/images/engage.png"/>
				<h4>Engage</h4>
				<p>Make connections with your mentors and be supported every step of the way.</p>
			</div>
		</div>
	</div>
	<!-- Mentors -->
	<div class="row section" style="background-color: #e8e8e8;">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<h1>Meet the Mentors</h1>
			</div>
			<div class="col-md-2"></div>
		</div>
		<div class="row">
			<div class="col-md-3"> 
				<img src="/assets/images/5944_10151532146109321_1260052358_n.jpg" alt="Jener" />
				<h4>Jener</h4>
				<p><strong>3rd year, Political Science</strong></p>
				<p>Hey, I&#8217;m Jener, and I can help.  When I&#8217;m not grabbing the surf, I like to unravel secret government conspiracies. I love to eat Chik-fil-A and play FIFA. College is my playground so ask me anything.</p>
			</div>
			<div class="col-md-3">
				<img src="/assets/images/20140818_200115714_iOS.jpg" alt="Maryam" />
				<h4>Maryam</h4>
				<p><strong>4th year, Human Biology and Society</strong></p>
				<p>Hi, I&#8217;m Maryam!  When I&#8217;m not fighting educational disparities and broken institutional systems, I can be found singing, gushing over photos of elephants, or organizing my rock collection. I&#8217;m here to help!</p>
			</div>
			<div class="col-md-3">
				<img src="/assets/images/468347_10152770353715109_1474431856_o.jpg" alt="Ayman" />
				<h4>Ayman</h4>
				<p><strong>4th Year, Biology</strong></p>
				<p>Yo, I&#8217;m Ayman.  I&#8217;m a part time pre-med student and part time professional basketball player (you just haven&#8217;t heard of me yet). Lemme know if you got questions.  Cuz I got answers.</p>
			</div>
			<div class="col-md-3">
				<img src="/assets/images/5944_10151532146109321_1260052358_n.jpg" alt="Jener" />
				<h4>Jener</h4>
				<p><strong>3rd year, Political Science</strong></p>
				<p>Hey, I&#8217;m Jener, and I can help.  When I&#8217;m not grabbing the surf, I like to unravel secret government conspiracies. I love to eat Chik-fil-A and play FIFA. College is my playground so ask me anything.</p>
			</div>
		</div>
	</div>
	<!-- Footer -->
	<div class="row section" style="background-color: orange; min-height: 200px">
		<div class="col-md-2"></div>
			<div class="col-md-8">
				<h1 class="white-text">Get Involved!</h1>						
			</div>
			<div class="col-md-2"></div>
	</div>

</div>